* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("paisagem.jpg");
  background-size: cover;
  color: #333;
}

header {
  background-color: #222;
  padding:0px;
  margin: -5px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}


.galeria img:hover {
  transform: scale(1.05);
}
nav{
 display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #292727;
    height: 10vh;

}

.logo {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}
.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
    
.t1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 180px;
}

span {
  color: rgb(218, 218, 25);
}

